.Assigned {
    text-transform: uppercase;
    color: darkgrey !important;
    font-weight: bold;
}
.Created {
    text-transform: uppercase;
    color: yellow !important;
    font-weight: bold;
}
.Processing {
    text-transform: uppercase;
    color: aqua !important;
    font-weight: bold;
}
.Done {
    text-transform: uppercase;
    color: forestgreen !important;
    font-weight: bold;
}
.Closed {
    text-transform: uppercase;
    color: darkred !important;
    font-weight: bold;
}
.Reply {
    text-transform: uppercase;
    color: gray !important;
    font-weight: bold;
}