@model OnlineHelpDesk.Models.HomeViewModel
@{
    int requestCount = Model.Requests;
    int userCount = Model.Users;
    int facilityCount = Model.Facilities;
    int equipmentCount = Model.Equipments;
}

@{
    ViewBag.CurrentPage = "Home";
    ViewBag.Title = "Home";
    ViewBag.HomeActive = "active";
}


<section class="py-5">
    <div class="row">
        <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-violet"></div>
                    <div class="text">
                        <h6 class="mb-0">Requests</h6><span class="text-gray">@requestCount</span>
                    </div>
                </div>
                <div class="icon text-white bg-violet"><i class="far fa-clipboard"></i></div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-green"></div>
                    <div class="text">
                        <h6 class="mb-0">Users</h6><span class="text-gray">@userCount</span>
                    </div>
                </div>
                <div class="icon text-white bg-green"><i class="fa fa-user"></i></div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-blue"></div>
                    <div class="text">
                        <h6 class="mb-0">Facilities</h6><span class="text-gray">@facilityCount</span>
                    </div>
                </div>
                <div class="icon text-white bg-blue"><i class="fa fa-building"></i></div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-red"></div>
                    <div class="text">
                        <h6 class="mb-0">Equipments</h6><span class="text-gray">@equipmentCount</span>
                    </div>
                </div>
                <div class="icon text-white bg-red"><i class="fa fa-inbox"></i></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row mb-4">
        <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="card">
                <div class="card-header">
                    <h2 class="h6 text-uppercase mb-0">Current server uptime</h2>
                </div>
                <div class="card-body">
                    <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <div class="chart-holder">
                        <canvas id="lineChart1" style="max-height: 14rem !important;" class="w-100"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0 pl-lg-0">
            <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-violet"></div>
                    <div class="text">
                        <h6 class="mb-0">Created Request</h6><span class="text-gray">127 requests</span>
                    </div>
                </div>
                <div class="icon bg-violet text-white"><i class="fas fa fa-sticky-note"></i></div>
            </div>
            <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-gray-200"></div>
                    <div class="text">
                        <h6 class="mb-0">Assigned Request</h6><span class="text-gray">214 requests</span>
                    </div>
                </div>
                <div class="icon bg-gray-200 text-white"><i class="fa fa-check"></i></div>
            </div>
            <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-gray-500"></div>
                    <div class="text">
                        <h6 class="mb-0">Processing Request</h6><span class="text-gray">25 requests</span>
                    </div>
                </div>
                <div class="icon bg-gray-500 text-white"><i class="fas fa fa-spinner"></i></div>
            </div>
            <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-green"></div>
                    <div class="text">
                        <h6 class="mb-0">Completed Request</h6><span class="text-gray">25 requests</span>
                    </div>
                </div>
                <div class="icon bg-green text-white"><i class="fa fa-clipboard-check"></i></div>
            </div>
            <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-red"></div>
                    <div class="text">
                        <h6 class="mb-0">Closed Request</h6><span class="text-gray">25 requests</span>
                    </div>
                </div>
                <div class="icon bg-red text-white"><i class="fa fa-times-circle"></i></div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Scripts/AppJavaScript/chart/Chart.min.js"></script>
    <script src="~/Scripts/AppJavaScript/js/charts-home.js"></script>
}

<!--    <div class="row">
        <div class="col-sm-12 text-center content-ohd-title">
            Online Help Desk
        </div>
        <div class="col-sm-12 ohd-about">
            Online Help Desk (OHD) for the facilities in the campus. This is an Intranet based application that can be accessed throughout the campus. This system can be used to automate the workflow of service requests for the various facilities in the campus. This is one integrated system that covers different kinds of facilities like class-rooms, labs, hostels, mess, canteen, gymnasium, computer centre, faculty club etc. Registered users (students, faculty, lab-assistants and others) will be able to log in a request for service for any of the supported facilities. These requests will be sent to the concerned people, who are also valid users of the system, to get them resolved. There are features like email notifications/reminders, addition of a new facility to the system, report generators etc in this system.
        </div>
        <div class="col-sm-12 text-center content-ohd-sub">
            How to create a request?
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-4 col-sm-12 request-tag">
                    <div class="request-box">
                        <div class="request-tag-title text-center">Access to OHD system</div>
                        <div class="request-tag-box text-center">
                            <span>Using browser and connect to <a href="">OHD system</a></span><br />
                            <img src="~/Content/AppImages/icon.png">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 request-tag">
                    <div class="request-box">
                        <div class="request-tag-title text-center">Create a request</div>
                        <div class="request-tag-box text-center">
                            <span>Click 'Create new request' in Menu to open request form</span><br />
                            <img src="~/Content/AppImages/click256.png" width="105" height="105">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 request-tag">
                    <div class="request-box">
                        <div class="request-tag-title text-center">Send a request</div>
                        <div class="request-tag-box text-center">
                            <span>Fill out all field, Click 'Send request' and wait response</span><br />
                            <img src="~/Content/AppImages/stopwatch-wait-pngrepo-com.png" width="105" height="105">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
