@{
    ViewBag.Title = "Index";
    ViewBag.Import = "active";
}

@ViewBag.Message

<section class="py-5">
    <div class="row">
        <div class="col">
            @Html.ActionLink("Import User Data", "Import", "Admin", new { @class = "btn btn-info" })

            @using (Html.BeginForm("LoadSampleData", "Admin", FormMethod.Post, new { id = "btnLoadSample", @class = "btn" }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-danger" value="Load sample data" />
            }
        </div>
    </div>
</section>