@{
    ViewBag.Title = "Index";
}

@ViewBag.Message

@Html.ActionLink("Import User Data", "Import", "Admin", new { @class="btn btn-info" })

@using (Html.BeginForm("LoadSampleData", "Admin", FormMethod.Post, new { id = "btnLoadSample", @class = "btn" }))
{
    @Html.AntiForgeryToken()
    <input type="submit" class="btn btn-danger" value="Load sample data" />
}

<section class="py-5">
    <div class="row">
        <div class="col-lg-12">
            <a href="/Admin/Import?importFor=Students" class="card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                <div class="row">
                    <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                        <p class="mb-0 mt-3 mt-lg-0">Import Students</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12">
            <a href="/Admin/Import?importFor=Facility-Heads" class="card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                <div class="row">
                    <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                        <p class="mb-0 mt-3 mt-lg-0">Import Facility-Heads</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
