<header class="header">
    <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
        <a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead"><i class="fas fa-align-left"></i></a><a href="~/" class="navbar-brand font-weight-bold text-uppercase text-base">Online Help Desk Dashboard</a>
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
            @Html.Partial("_NotificationPartial")
            @Html.Partial("_UserInformationPartial")
        </ul>
    </nav>
</header>