<li class="nav-item dropdown mr-3">
    <a id="notifications" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle text-gray-400 px-1"><i class="fa fa-bell"></i><span class="notification-icon"></span></a>
    <div aria-labelledby="notifications" class="dropdown-menu" id="notification">
        
    </div>
</li>
