<div id="sidebar" class="sidebar py-3 shrink">
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item"><a href="~/" class="sidebar-link text-muted @ViewBag.Home"><i class="o-home-1 mr-3 text-gray"></i><span>Home</span></a></li>
        @if (User.IsInRole("SuperAdmin") || User.IsInRole("FacilityHead"))
        {
            <li class="sidebar-list-item"><a href="~/Home/ListRequest" class="sidebar-link text-muted @ViewBag.List"><i class="o-table-content-1 mr-3 text-gray"></i><span>List Request</span></a></li>
        }
        @if (!User.IsInRole("SuperAdmin"))
        {
            <li class="sidebar-list-item"><a href="~/Home/CreateNewRequest" class="sidebar-link text-muted @ViewBag.New"><i class="o-survey-1 mr-3 text-gray"></i><span>New Request</span></a></li>
        }
        @if (User.IsInRole("Assignor"))
        {
            <li class="sidebar-list-item"><a href="~/" class="sidebar-link text-muted @ViewBag.Assgin"><i class="o-paperwork-1 mr-3 text-gray"></i><span>Assigned Request</span></a></li>
        }
        @if (User.IsInRole("SuperAdmin"))
        {
            <li class="sidebar-list-item">
                <a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Menu</span></a>
                <div id="pages" class="collapse">
                    <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                        <li class="sidebar-list-item">
                            <a href="#" class="sidebar-link text-muted"><i class="fa fa-user-circle mr-3 text-gray"></i><span>User Information</span></a>
                        </li>
                        <li class="sidebar-list-item">
                            <a href="#" data-toggle="collapse" data-target="#manas" aria-expanded="false" aria-controls="manas" class="sidebar-link text-muted"><i class="fa fa-tasks mr-3 text-gray"></i><span>Manage</span></a>
                            <div id="manas" class="collapse">
                                <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                                    <li class="sidebar-list-item">
                                        <a href="~/" class="sidebar-link text-muted"><i class="fa fa-gavel mr-3 text-gray"></i><span>Roles</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        }
    </ul>
</div>