

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
@font-face {
    font-family: 'alegreya-medium'; /*a name to be used later*/
    src: url('../fonts/'); /*URL to font*/
}

* {
    font-family: alegreya-medium, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.header-ad {
    padding: 15px;
    background: #efefef;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background: #efefef;
    z-index: 999;
}
/*.nav-ohd {
	height: 55px;
}*/
.nav-ohd > div {
    height: 100%;
}

.nav-ohd .logo-brand a img {
    margin: 5px 0;
}

.navbar-nav {
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    color:
}

.ul-nav-ohd {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav .nav-item {
    height: 100%;
}

.nav-item {
    position: relative;
}

.nav-item .link {
    display: inline-block;
    cursor: pointer;
    height: 100%;
    padding: 26px 50px;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #dfdfdf;
    transition: all .2s;
}

.nav-item-avatar .link {
    padding: 13px 10px;
    transition: all .2s;
}

.nav-item .active-link {
    background: rgba(1, 1, 1, .1);
    color: #fefefe;
}

.nav-item .link:hover,
.nav-item .link:focus {
    background: rgba(1, 1, 1, .1);
    text-decoration: none;
    color: #fefefe;
}

.nav-item .no-link {
    position: relative;
}

.nav-item .no-link .no-bgc {
    position: absolute;
    padding: 0 3px 0 3px;
    font-size: 13px;
    border-radius: 24px;
    background: rgb(255, 54, 54);
    color: #fff;
    top: 20%;
    right: 37%;
}

.animate__animated {
    animation-iteration-count: calc(var(--animate-repeat)*10000);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky-bot {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.current-page {
    background-image: linear-gradient(141deg, #2b8a44 0%, #58bf73 51%, #9fb8ad 75%);
    /*padding: 30px 10px;*/
    font-size: 2rem;
    color: #efefef;
}

.current-page-left {
    font-size: 1.8rem;
    padding-top: 21px;
    text-decoration: underline;
    transition: all .2s;
}

.current-page-left span {
    font-size: 1.8rem;
}

.avatar-box {
    display: inline-block;
}

.avatar-box:hover,
.avatar-box:focus {
    background: none !important;
}

.avatar-box img {
    border-radius: 50%;
}

/*===  Toggle field  ===*/
.nav-item .toggle-field {
    display: none;
    position: absolute;
    top: 100%;
    left: 10%;
    z-index: 999 !important;
    background: #efefef !important;
    transition: all .4s;
}

.nav-item:hover .toggle-field {
    display: block;
}

/*===  Profile Toggle  ===*/
.profile-tf {
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    width: 200px;
    left: -90% !important;
    padding: 10px 0 0 0;
    font-size: 1.5rem;
}

.toggle-field .ul-profile {
    list-style: none;
    padding: 0;
}

.toggle-field .ul-profile li {
    padding: 3px 10px;
}

.toggle-field .ul-profile .li-fixed {
    color: #575757;
    border-bottom: 1px solid #9d9d9d;
}

.toggle-field .ul-profile .li-pf-item {
    text-align: center;
    color: #337ab7;
    transition: all .4s;
}

.toggle-field .ul-profile .li-pf-item a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 3px 10px;
    transition: all .4s;
}

.toggle-field .ul-profile .li-pf-item:hover,
.toggle-field .ul-profile .li-pf-item:focus {
    background: rgba(1, 1, 1, .1);
    color: #575757;
}

.toggle-field .ul-profile .li-pf-item:hover a,
.toggle-field .ul-profile .li-pf-item:focus a {
    color: #575757;
}

.toggle-field .ul-profile .li-pf-item a:hover,
.toggle-field .ul-profile .li-pf-item a:focus {
    text-decoration: underline;
}

/*===  Notifications Toggle  ===*/
.notification-tf {
    width: 280px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    left: -70% !important;
}

.notification-tf .ul-notification {
    list-style: none;
    padding: 0;
}

.notification-tf .ul-notification .li-fixed {
    padding: 10px;
    font-size: 1.6rem;
    color: #575757;
    border-bottom: 1px solid #c3c3c3;
}

.notification-tf .ul-notification .li-notification {
}

.notification-tf .ul-notification .li-notification .ul-no-item {
    list-style: none;
    padding: 0;
    height: 220px;
    overflow-y: scroll;
}

.notification-tf .ul-notification .li-notification .ul-no-item::-webkit-scrollbar {
    display: none;
}

.ul-no-item .li-no-item {
    padding: 0 10px;
    transition: all .4s;
    border-bottom: 1px solid #c3c3c3;
}

.ul-no-item .li-no-item-active {
    background: rgba(1, 1, 1, .1);
}

.ul-no-item .li-no-item:hover,
.ul-no-item .li-no-item:focus {
    background: rgba(1, 1, 1, .1);
}

.ul-no-item .li-no-item .no-item {
    text-decoration: none;
}

.ul-no-item .li-no-item .no-item div .no-name {
    font-size: 1.3rem;
    color: #575757;
    font-weight: 200;
}

.ul-no-item .li-no-item .no-item div .no-time {
    font-size: 1.5rem;
}

.notification-tf .ul-notification .li-no-more {
    padding: 10px;
    border-top: 1px solid #c3c3c3;
    text-align: center;
    font-size: 1.5rem;
    transition: all .4s;
}

.notification-tf .ul-notification .li-no-more:hover,
.notification-tf .ul-notification .li-no-more:focus {
    background: rgba(1, 1, 1, .1);
}

.notification-tf .ul-notification .li-no-more a {
    color: #575757;
    text-decoration: none;
    transition: all .4s;
}

.notification-tf .ul-notification .li-no-more:hover a,
.notification-tf .ul-notification .li-no-more:focus a {
    color: rgb(43, 138, 68);
}

.notification-tf .ul-notification .li-no-more a:hover,
.notification-tf .ul-notification .li-no-more a:focus {
    text-decoration: underline;
}

/*===   Sticky   ===*/
.sticky .current-page {
    background: #efefef;
}

.sticky .current-page .current-page-left {
    padding-top: 7px;
    color: #777;
}

.sticky .current-page .nav-item .link {
    padding: 12px 20px;
    font-size: 1.4rem;
    color: #999;
}

.sticky .current-page .nav-item .active-link {
    color: #555;
}

.sticky .current-page .nav-item .link:hover,
.sticky .current-page .nav-item .link:focus {
    color: #555;
}

.sticky .current-page .nav-item-avatar .link {
    padding: 5px 10px;
}

.sticky .current-page .nav-item-avatar .avatar-box img {
    width: 35px;
    height: 35px;
}

.sticky .current-page .nav-item .no-link .no-bgc {
    font-size: 11px;
    /*border-radius: 24px;
	background: rgb(255, 54, 54);
	color: #fff;
	top: 15%;*/
    top: 5%;
    right: 20%;
}

.sticky .current-page .nav-item .notification-tf {
    left: -150% !important;
}

/*===   Content   ===*/
.content {
    margin-top: 55px;
    z-index: 1;
}

.content-ohd {
    margin-bottom: 20px;
}

.content-ohd .content-ohd-title {
    padding: 15px;
    text-transform: uppercase;
    font-size: 4rem;
    color: #2b8a44;
}

.content-ohd .ohd-about {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.content-ohd .content-ohd-sub {
    padding: 15px;
    text-transform: uppercase;
    font-size: 2.6rem;
    color: #2b8a44;
}

.request-tag {
    height: 300px;
    padding: 7px;
}

.request-tag .request-box {
    padding-top: 50px;
    background-image: linear-gradient(90deg, #c7fcd5 0%, #9fd7e3 51%, #c7fcd5 75%);
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.request-tag .request-box:hover,
.request-tag .request-box:focus {
    box-shadow: 2px 5px 10px #777777;
}

.request-tag .request-box .request-tag-title {
    color: #595959;
    font-size: 2rem;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    color: #d9d9d9;
    /*background: #efefef;*/
    background-image: linear-gradient(141deg, #9fb8ad 0%, #58bf73 51%, #2b8a44 75%);
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

/*===   Features   ===*/
.none-padding {
    padding: 0;
}

.pad-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.pad-v-3 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.pad-t-10 {
    padding-top: 10px;
}

.mar-v-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mar-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.none-margin {
    margin: 0;
}

.need-help {
    color: #000 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.done {
    color: #14A76C !important;
    font-weight: bold;
    text-transform: uppercase;
}

.signed {
    color: #ffe400 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.close {
    color: #c3073f !important;
    font-weight: bold;
    text-transform: uppercase;
}

/*===   Modal Request Detail   ===*/
.modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.modal-body-title {
    font-size: 1.8rem;
    padding: 10px 0;
    border-bottom: 1px dashed #d3d3d3;
    background: rgba(1,1,1,.1);
}

.head-modal-body {
    padding: 0;
    border-bottom: 1px dashed #d3d3d3;
}

.head-modal-body .head-modal-box {
    border: 1px solid #d3d3d3;
    border-radius: 6px;
}

.head-modal-body .head-modal-box .head-modal-box-right {
    color: #41b3a3;
}

.head-modal-body .head-modal-box > div:nth-child(odd) {
    background: #f9f9f9;
}

.content-modal-body {
    padding: 0;
    border-bottom: 1px dashed #d3d3d3;
}

.content-modal-body .response-box {
    border: 1px solid #d3d3d3;
    border-radius: 6px;
}

.content-modal-body .response-box > div:nth-child(even) {
    background: #f9f9f9;
}

.content-modal-body .response-box .response-box-right {
    color: #d79922;
}

.form-body-title {
    font-size: 1.8rem;
    padding: 10px 0;
    border-bottom: 1px dashed #d3d3d3;
    background: #eee2dc;
}

.form-assign {
    margin-bottom: 10px;
    border-bottom: 1px dashed #d3d3d3;
}
